.form-control-custom{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: #0f6674;
  width: 100%;
}
.form-control-custom:focus{
  outline: none;
  border-bottom-color: #6DDCBD;
}

.bg-glass-light{
  background-color: #f6feff!important;
}

.bg-white{
  background-color: #fff!important;
}
.bg-maroon {
  background-color: #800000!important;
  color: #fff!important;
}
.bg-khaki {
  background-color: rgb(240, 230, 140);
}
.text-maroon {
  color: #800000;
}
.text-khaki {
  color: rgb(240, 230, 140);
}
.pw-100{
  width: 100%!important;
}